body {
  background-color: #e9eef5;
  font-family: "Proxima Nova", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Thin-Italic.otf")
      format("opentype");
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Thin.otf") format("opentype");
    font-weight: 100;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Light-Italic.otf")
      format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Light.otf") format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Regular-Italic.otf")
      format("opentype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Regular.otf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Semibold-Italic.otf")
      format("opentype");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Semibold.otf")
      format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Bold-Italic.otf")
      format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Bold.otf") format("opentype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Extrabold-Italic.otf")
      format("opentype");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Extrabold.otf")
      format("opentype");
    font-weight: 800;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Black-Italic.otf")
      format("opentype");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark-Simonson-Proxima-Nova-Black.otf") format("opentype");
    font-weight: 900;
  }
}

.gig__page__header {
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  padding: 20px;
  margin-bottom: 40px;
}

.speak__btn,
.create__btn__cont {
  width: 48.5%;
}

.create__btn {
  width: 100%;
}
.card__hr {
  background: #e9eaf2;
  height: 0.5px;
  width: 100%;
  margin: 20px 0;
}

.card__shadow {
  box-shadow: 0px 6px 21.9px 0px #040a330d;
  border: 0.5px solid #e9eaf2;
}

.gig__page__card {
  padding: 20px 16px;
  border-radius: 0.375rem;
  height: 100%;
}
.gig__card__link {
  border: 1px solid #0967d2;
  border-radius: 8px;
  height: 50px;
  width: 152px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.free__call__btn {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  color: white;
  margin-top: 20px;
  max-width: 350px;
  cursor: pointer;
}

.milestone__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .create__btn {
    width: 131px;
  }
  .speak__btn {
    width: 142px;
  }
  .create__btn__cont {
    width: fit-content;
  }
  .gig__page__header {
    padding: 30px;
    margin-top: 40px;
  }
  .gig__page__card {
    padding: 30px 20px;
  }
  .gig__page__header {
    width: 94%;
  }
  .card__hr2 {
    margin: 30px 0;
  }
  .free__call__btn {
    width: 233px;
  }
}

@media screen and (min-width: 1200px) {
  .gig__page__card {
    padding: 30px;
  }
  .gig__page__card {
    border-radius: 10px !important;
  }
  .milestone__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
}
.btn-blue {
  padding: 10px;
  gap: 23px;
  border-radius: 8px;
  background: #0967d2;
  border: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 19.49px;
  text-align: left;
  color: #fff;
}
.btn-toggle {
  padding: 10px;
  gap: 23px;
  border-radius: 8px;
  border: 1px solid #0967d2;

  font-size: 16px;
  font-weight: 600;
  line-height: 19.49px;
  text-align: left;
  color: #0967d2;
  background: none;
}
.text-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.36px;
  text-align: left;
  color: #08121d;
  margin-bottom: 5px;
}
.text-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #67737e;
}
.last-header {
  background-color: #0967d2;
  padding: 25px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .last-header {
    padding: 30px;
  }
}
.last-header h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.23px;
  text-align: left;
  color: #fff;
}
.last-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #b8d2ee;
}
.button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #0967d2;
  color: #0967d2;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  text-decoration: none;
}
.button1 {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  text-decoration: none;
  background: none;
}
.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.23px;
  text-align: left;
  color: #08121d;
}
.card-body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #67737e;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .card-body {
    gap: 25px;
  }
}
.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #67737e;
  margin-top: 8px;
}
.subHeader {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.36px;
  text-align: left;
  color: #08121d;
}
.subText {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #67737e;
}
hr {
  height: 1px;
  /* margin: 50px 0; */
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.5, #333333),
    to(rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  border: 0;
}
hr:after {
  display: block;
  content: "";
  height: 30px;
  background-image: -webkit-gradient(
    radial,
    50% 0%,
    0,
    50% 0%,
    116,
    color-stop(0%, #cccccc),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background-image: -webkit-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -moz-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -o-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: radial-gradient(
    farthest-side at center top,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
/** Page2 styling**/

.page h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #08121d;
  margin-bottom: 5px;
}
.page p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  text-align: left;
  color: #67737e;
}
.Text-area p {
  width: 100%;
  text-align: right;
  margin-top: 5px;
  font-family: Ginka TRIAL;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #9da6af;
}
.Text-area {
  color: #08121d;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #d27409;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.pageList {
  margin-bottom: 60px;
}
.pageList h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #373d43;
}
.pageList li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #67737e;
}
.gig__title__list {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gig__title__list li {
  display: flex;
  align-items: flex-start;
}

.gig__title__list li::before {
  content: url("../img/ul-dot1.svg");
  margin-right: 0.6rem;
  /* margin-top: 0.2rem;  */
}

.backButton {
  text-decoration: none;
  color: #08121d;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
}
.prevBtn,
.nxtBtn {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: #0967d2;
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  background: transparent;
}

.nxtBtn:disabled {
  background-color: #7aaee9;
  color: #1a77e0;
  cursor: not-allowed;
}

.milestone__form input,
.milestone__form select,
.milestone__form textarea {
  box-shadow: none !important;
  outline: none !important;
}

.prevBtn:hover {
  background-color: #e9eaf2;
}

.nxtBtn {
  background-color: #0967d2;
  color: #ffffff;
}

.btm__nav__cont {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

@media screen and (min-width: 700px) {
  .btm__nav__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .prevBtn,
  .nxtBtn {
    width: 206px;
  }
  .pageList {
    margin-bottom: 80px;
  }
}

/** detailPage styling**/

label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #373d43;
}
.subTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #373d43;
}
.pTxt {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #9da6af;
}
.headTxt {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #08121d;
}

.toggleTxt {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #08121d;
  margin-bottom: 0;
}
.toggle__cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .toggle__cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.cardTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #67737e;
}

.infoTxt {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #0967d2;
}
.Btn-detail {
  padding: 10px;
  text-align: center;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: #0967d2;
  border: none;
  background-color: none;
}

.Btn-detail:hover {
  background-color: #0967d2;
  color: #ffffff;
}

/** feePage styling**/

.feePage h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #08121d;
}
.mile__summary {
  padding: 20px 16px;
}
@media screen and (min-width: 768px) {
  .feePage h2 {
    font-size: 34px;
    line-height: 40px;
  }
  .mile__summary {
    padding: 32px;
  }
}
.fClarity p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #9da6af;
}

.fClarity span i {
  /* font-size: 16px; */
  font-weight: 400;
  /* line-height: 20px; */
  text-align: left;
  color: #0967d2;
}

/** previewage styling**/

.previewHeader h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}

.previewHeader p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #b8d2ee;
  margin-bottom: 8px;
}

.previewheader h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 5px;
}

.previewheader p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #b8d2ee;
}

.previewheader ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #b8d2ee;
}
.previewGIG h6 {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #7aaee9;
}

.gig__duration {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #7aaee9;
  margin: 0 0 8px;
}

.previewGIG h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #e8f2fc;
}
.previewCol h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #08121d;
}
.previewCol p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #9da6af;
}
.previewCol h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #08121d;
}
.previewColl h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #08121d;
}
.previewColl p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #9da6af;
}
.mile__summ__card {
  padding: 20px 16px;
}
.create__mile {
  padding: 50px 20px;
  cursor: pointer;
}
.create__mile__modal__cont {
  padding: 10px;
}

.mile__modal__form__input {
  height: 48px;
}
.details__form input,
.details__form select {
  height: 50px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .previewGIG h6 {
    font-size: 16px;
    line-height: 20px;
  }

  .previewGIG h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .mile__summ__card {
    padding: 25px;
  }
  .create__mile {
    padding: 50px 40px;
  }
  .create__mile__modal__cont {
    padding: 20px;
  }

  /** milestonePage styling**/
  .custom-margin {
    margin-right: 180px;
  }
  .mileHeader h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #08121d;
  }
  .mileHeader span {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #67737e;
  }

  .mileHeader h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #08121d;
  }
  .statusBtn {
    padding: 6px 14px 6px 14px;
    border-radius: 38px;
    background-color: #ebf7ec;
  }
}

@media screen and (min-width: 1200px) {
  .create__mile {
    padding: 80px 50px;
  }
}

@media screen and (min-width: 768px) {
  .start {
    margin-inline-start: 45px;
  }
  .Klev {
    white-space: nowrap;
  }
}

.Klev {
  white-space: normal;
}

/** NotificationPage/Gigcreation styling**/

.giG span {
  color: #7aaee9;
}
.giG h6 {
  color: #e8f2fc;
}
.giG h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #fff;
}
.giG P {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #7aaee9;
}
.skillBtn {
  border: 1px solid #f1f5fa;
  padding: 6px 14px 6px 14px;
  border-radius: 38px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #0967d2;
}
.Experience span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #9da6af;
}
.Experience h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #08121d;
}
.verifyBtn {
  color: #0967d2;
  background-color: #e8f2fc;
  border-radius: 10px;
  size: 10px;
  font-weight: 400;
  padding: 6px 14px 6px 14px;
}

/* Hide the default appearance of the slider */
.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 245.33px;
  height: 10px;
  background: linear-gradient(to right, #d27409, #f7f2eb, #f7f2eb);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* Removing the pointer (thumb) */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0; /* Set width to 0 to hide */
  height: 0; /* Set height to 0 to hide */
  background: transparent; /* Make it transparent */
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  cursor: pointer;
}

.testimonial-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  /* width: 418px; */
  height: 138px;
}
.cardTestmony {
  height: 172px;
  padding: 24px;
  gap: 10px;
  border-radius: 10px;
  border: 1px;
  background-color: #f8fbff;
}
.cardTestmony h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #9da6af;
}
.cardTestmony p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.testimonial-card h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.62px;
  text-align: left;
}

.testimonial-card p {
  color: #6c757d;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel-item .row {
  justify-content: center;
}
/* Gigs style */

.navTabs {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #9da6af;
}
.navTabs:hover {
  color: #08121d;
  border-bottom: 2px solid #0967d2;
  padding: 5px;
}
