body {
  background-color: #b8d2ee;
}

.header {
  background-color: #ffffff;
  border-radius: 10px;
}
.btn-blue {
  padding: 10px;
  gap: 23px;
  border-radius: 8px;
  background: #0967d2;
  border: none;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.49px;
  text-align: left;
  color: #fff;
}
.btn-toggle {
  padding: 10px;
  gap: 23px;
  border-radius: 8px;
  border: 1px solid #0967d2;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.49px;
  text-align: left;
  color: #0967d2;
  background: none;
}
.text-title {
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.36px;
  text-align: left;
  color: #08121d;
}
.text-text {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #67737e;
}
.last-header {
  background-color: #0967d2;
  padding: 25px;
  border-radius: 10px;
}
.last-header h3 {
  font-family: proxima-nova, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.23px;
  text-align: left;
  color: #fff;
}
.last-header p {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #b8d2ee;
}
.button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #0967d2;
  color: #0967d2;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  text-decoration: none;
}
.button1 {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  text-decoration: none;
  background: none;
}
.card-title {
  font-family: proxima-nova, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.23px;
  text-align: left;
  color: #08121d;
}
.card-body {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #67737e;
}
.card-text {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #67737e;
  margin-bottom: 30px;
}
.subHeader {
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.36px;
  text-align: left;
  color: #08121d;
}
.subText {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: #67737e;
}
hr {
  height: 1px;
  /* margin: 50px 0; */
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.5, #333333),
    to(rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  border: 0;
}
hr:after {
  display: block;
  content: "";
  height: 30px;
  background-image: -webkit-gradient(
    radial,
    50% 0%,
    0,
    50% 0%,
    116,
    color-stop(0%, #cccccc),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background-image: -webkit-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -moz-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -o-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: radial-gradient(
    farthest-side at center top,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
/** Page2 styling**/

.page h2 {
  font-family: proxima-nova, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: #08121d;
}
.page p {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #67737e;
}
.Text-area p {
  width: 100%;
  text-align: right;
  margin-top: 5px;
  font-family: Ginka TRIAL;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #9da6af;
}
.Text-area {
  color: #08121d;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #d27409;
  border-radius: 50%;
  display: inline-block;
}
.pageList {
  margin-bottom: 100px;
}
.pageList h6 {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #373d43;
}
.pageList p {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #67737e;
}
.backButton {
  text-decoration: none;
  color: #08121d;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
}
.prevBtn {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: #0967d2;
  border: none;
  background-color: none;
  width: 145px;
  height: 50px;
}

.prevBtn:hover {
  background-color: #0967d2;
  color: #ffffff;
}

/** detailPage styling**/

label {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #373d43;
}
.subTxt {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #373d43;
}
.pTxt {
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #9da6af;
}
.headTxt {
  font-family: proxima-nova, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #08121d;
}
.cardTxt {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #67737e;
}
.infoTxt {
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #0967d2;
}
.Btn-detail {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: #0967d2;
  border: none;
  background-color: none;
}

.Btn-detail:hover {
  background-color: #0967d2;
  color: #ffffff;
}

/** feePage styling**/

.feePage h2 {
  font-family: proxima-nova, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #08121d;
}
.fClarity p {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #9da6af;
}

.fClarity span i {
  font-family: proxima-nova, sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  /* line-height: 20px; */
  text-align: left;
  color: #0967d2;
}

/** previewage styling**/

.previewHeader h1 {
  font-family: proxima-nova, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}

.previewHeader p {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #b8d2ee;
}

.previewheader h1 {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}

.previewheader p {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.previewheader ul li {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}
.previewGIG h6 {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #7aaee9;
}

.previewGIG h2 {
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #e8f2fc;
}
.previewCol h2 {
  font-family: proxima-nova, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #08121d;
}
.previewCol p {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #9da6af;
}
.previewCol h3 {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #08121d;
}
.previewColl h3 {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #08121d;
}
.previewColl p {
  font-family: proxima-nova, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #9da6af;
}
